body{
    background-image: url(./assets/sala_espera.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: black;
    }
